/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}



@font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
    font-family: myFirstFont;
  
}

th {
  color:white;
}

button {
  width: 70px;
  height: 40px;
  background-color: red;
  animation-name: example;
  animation-duration: 5s;
animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  100% {background-color:red; left:0px; top:0px;}
}